<!-- Product template -->
<html>
  <head>
    <title>product</title>
  </head>
  <body>
    <script id="product-template" type="text/x-handlebars-template">
      <!-- Contents of the template -->
      <p>
        {{test}}
      </p>
    </script>
    <script src = "http://localhost:8082/public/js/jquery.js"></script>
    <script src = "http://localhost:8082/public/js/handlebars.js"></script>
    <script src = "http://localhost:8082/public/js/product_template.js"></script>
    <div>
      This is a test message
    </div>
    <div class="content-placeholder"></div>
  </body>
</html>
